@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

#main-heading {
  text-align: center;
  font-size: 18px;
  color: rgb(33, 82, 0);
  background-color: #f0f0f0;
  padding: 5px;
}

.nav-bar {
  display: grid;
  width: 100%;
  grid-template-columns: auto auto auto auto;
  padding: 5px;
  background-color: #f0f0f0;
  box-shadow: 0px 15px 10px -15px #000;
  justify-content: space-evenly;
}

.nav-bar-item {
  padding: 5px;
}

#beer-search {
  padding: 2px 5px 2px 5px;
  font-size: 15px;
}

#select-pagination {
  padding: 2px 5px 2px 5px;
  width: 50px;
}

#back-to-generator-btn {
  padding: 2px 5px 2px 5px;
  background-color: rgb(33, 82, 0);
  color: #fff;
  font-size: 15px;
  border-radius: 5px;
}

#back-to-generator-btn:hover {
  cursor: pointer;
  background-color: rgb(46, 114, 0);
}

#result {
  margin-right: 10px;
  margin-left: 10px;
}

.beer-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid rgb(33, 82, 0);
}

th,
td {
  padding: 3px;
  border-bottom: 2px solid rgb(33, 82, 0);
}

th {
  text-align: left;
  font-size: 16px;
}

td {
  font-size: 14px;
}

#btn-wrapper {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  margin-top: 10px;
}

#previous-button,
#next-button {
  padding: 2px 5px 2px 5px;
  background-color: rgb(33, 82, 0);
  color: #fff;
  font-size: 15px;
  border-radius: 5px;
  width: 75px;
}

#previous-button:hover,
#next-button:hover {
  cursor: pointer;
  background-color: rgb(46, 114, 0);
}
